.page-title-wrap {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 64rpx;
    line-height: 64rpx;
    color: #333;

    .icon-logo {
        border-radius: 50%;
        width: 64rpx;
        height: 64rpx;
        color: #fff;
        text-align: center;
        background: #037fef;
    }

    .page-title {
        flex: 1;
        margin-left: 26rpx;
        min-width: 0;
        font-size: 42rpx;
        font-weight: 600;
        overflow: hidden;
    }
}

// reg 注册表样式
.k-cells {
    &.reg-cells {
        .k-cell {
            &:after {
                background: #63a2c9;
            }

            .k-label {
                padding-right: 30rpx;
                min-width: initial;
            }

            .yzm {
                color: #037fef;
            }

            .k-cell__ft {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: initial;

                .icon {
                    padding: 0 30rpx;
                    width: 32rpx;
                    height: 32rpx;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 32rpx 32rpx;

                    &:active {
                        opacity: 0.5;
                    }

                    &.icon-close {
                        background-image: url('@/static/icon-close.png');
                    }

                    &.icon-eye-close {
                        width: 44rpx;
                        height: 44rpx;
                        background-image: url('@/static/icon-eye-close.png');
                        background-size: 44rpx 44rpx;
                    }

                    &.icon-eye-open {
                        width: 44rpx;
                        height: 44rpx;
                        background-image: url('@/static/icon-eye-open.png');
                        background-size: 44rpx 44rpx;
                    }
                }
            }
        }
    }
}

.reg_process {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20rpx;
    background: #d4e1f5;

    .reg_process_complete {
        height: 20rpx;
        background: #356cd3;
    }

    // icon-shield.png 60 110
}

.fixedBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-start;
    padding: 20rpx 20rpx 30rpx 20rpx;
    box-sizing: border-box;
    font-size: 32rpx;
    background: #fff;

    .btn2 {
        padding: 0 30rpx;
    }

    .btn2 {
        flex: 1;
        margin-left: 20rpx;
    }
}

.reg-title2 {
    font-size: 36rpx;
    font-weight: 400;
    color: #000;
}

.reg-form-wrap {
    width: 100%;
    height: auto;
    padding: 0 30rpx;
    box-sizing: border-box;

    .k-cells {
        font-size: 30rpx;
        .k-cell {
            .k-label {
                min-width: 220rpx;
            }
        }
        .k-cell__ft {
            width: initial;
        }
    }

    .uni-input-placeholder {
        color: #ccc;
    }
   

    .form-hint {
        padding: 20rpx 32rpx 0;
        box-sizing: border-box;
        font-size: 22rpx;
        color: #999;
    }
    .form-hint2 {
        padding: 20rpx 10rpx;
        box-sizing: border-box;
        font-size: 22rpx;
        color: #999;
        background: #fff7ed;
    }
}